<?xml version="1.0"?>
<config>
    <modules>
        <AK_RedirectChains>
            <version>0.0.1</version>
        </AK_RedirectChains>
    </modules>
    <global>
        <models>
            <ak_redirectchains>
                <class>AK_RedirectChains_Model</class>
                <resourceModel>redirectchains_resource</resourceModel>
            </ak_redirectchains>
            <redirectchains_resource>
                <class>AK_RedirectChains_Model_Resource</class>
            </redirectchains_resource>
        </models>
        <blocks>
            <redirectchains>
                <class>AK_RedirectChains_Block</class>
            </redirectchains>
        </blocks>
        <helpers>
            <redirectchains>
                <class>AK_RedirectChains_Helper</class>
            </redirectchains>
        </helpers>
    </global>
    <admin>
        <routers>
            <redirectchains_admin>
                <use>admin</use>
                <args>
                    <module>AK_RedirectChains</module>
                    <frontName>redirectchains_admin</frontName>
                </args>
            </redirectchains_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <catalog>
                <children>
                    <redirectchains module="redirectchains">
                        <title>Redirect Chains</title>
                        <sort_order>34</sort_order>
                        <action>redirectchains_admin/adminhtml_redirects</action>
                    </redirectchains>
                </children>
            </catalog>
        </menu>
        <layout>
            <updates>
                <redirectchains>
                    <file>redirectschain.xml</file>
                </redirectchains>
            </updates>
        </layout>
    </adminhtml>
</config>